body{
    background-color:yellow;
}
h1{
    color:darkslategrey;
    text-align: center ;
    text-decoration: solid;
}
.clock-container{
    position:relative;
    height:45vw;
    width:45vw;
    background: url(clock.jpeg) no-repeat;
    background-size: 100%;
    margin:auto;
    border: 5px solid red;
}
#hour,#minute,#second{
    position:absolute;
    background-color:black;
    transform-origin:bottom;
}
#hour{
    height:120px;
    width:10px;
    top: 33%;
    left: 48.256%;
    opacity:0.8;
}
#minute{
    height:180px;
    width:10px;
    top: 23%;
    left: 48.256%;
    opacity:0.5;
}
#second{
    height:210px;
    width:5px;
    top: 19%;
    left: 48.256%;
    opacity:0.25;
}